<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>items</key>
        <array>
                <dict>
                        <key>assets</key>
                        <array>
                                <dict>
                                        <key>kind</key>
                                        <string>software-package</string>
                                        <key>url</key>
                                        <string>http://mbqb.ihaiu.com/gametm-ios/testopus%202018-03-20%2015-36-49/testopus.ipa</string>
                                </dict>
                                <dict>
                                        <key>kind</key>
                                        <string>full-size-image</string>
                                        <key>needs-shine</key>
                                        <true/>
                                        <key>url</key>
                                        <string>http://mbqb.ihaiu.com/gametm-ios/logo_full.png</string>
                                </dict>
                                <dict>
                                        <key>kind</key>
                                        <string>display-image</string>
                                        <key>needs-shine</key>
                                        <true/>
                                        <key>url</key>
                                        <string>http://mbqb.ihaiu.com/gametm-ios/logo_icon.png</string>
                                </dict>
                        </array>
                        <key>metadata</key>
                        <dict>
                               <key>bundle-identifier</key>
                                <string>com.shinezone.mbqb</string>
                                <key>bundle-version</key>
                                <string>7.1.0</string>
                                <key>kind</key>
                                <string>software</string>
                                <key>title</key>
                                <string>Just Outlaws</string>
                        </dict>
                </dict>
        </array>
</dict>
</plist>
